<script src="/vendor/js/admin/upload.js"></script>



<div class="container-fluid admin-manage-cm admin-manage-product">

  <form enctype="multipart/form-data" method="POST" action="/api/upload-image">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTitle4">Title</label>
        <input type="text" class="form-control" id="title" placeholder="title" name="Title">
      </div>
      <div class="form-group col-md-6">
        <label for="inputcontributor4">Contributor</label>
        <input type="text" class="form-control" id="contributor" placeholder="Contributor" name="contributor">
      </div>
    </div>
    <div class="form-group">
      <label for="descripiton">Descripiton</label>
      <input type="text" class="form-control" id="descripiton" placeholder="Descripiton" name="description">
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="inputState">Publish</label>
        <select id="inputState" class="form-control" name="isactive">
          <option selected>Choose...</option>
          <option value="yes">YES</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Choose File</label>
        <input type="file" id="inputState" name="imageFile" class="form-control" class="browse-btn"
          accept="image/png, image/jpeg, image/gif" required="required" />
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
  </form>

  <form enctype="multipart/form-data" method="POST" action="/api/upload-image">
    <input type="text" name="title" value="title" required="required" />
    <input type="text" name="description" value="description" required="required" />
    <input type="text" name="contributor" value="contributor" required="required" />
    <select name="isactive">
      <option value="yes">YES</option>
      <option value="no">No</option>
    </select>
    <input type="file" name="imageFile" class="hidden" class="browse-btn" accept="image/png, image/jpeg, image/gif"
      required="required" />
    <input type="submit" value="Upload" class="upload-btn" />
  </form>




  <table id="example" class="display" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Image Id.</th>
        <th>Image Title</th>
        <th>Image</th>
        <th>Show in Gallery </th>
        <th>Action</th>
        <th>Public URL</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td class="text-center">{{this.id}}</td>
        <td>{{this.title}}</td>
        <td>
          <div class="text-center">
            <img alt="{{this.publicurl}}" src="{{{this.publicurl}}}" width="80px" height="60px" />
          </div>
        </td>
        <td>{{this.isactive}}</td>
        <td class="text-center">
          <button class="delete-button" image-id={{this.id}}>Toggle Status</button>
        </td>
        <td>{{this.publicurl}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>