<div class="container-fluid admin-manage-cm admin-manage-product">
  <form enctype="multipart/form-data" method="POST" action="/api/upload-image">
    <input type="text" name="title" value="title" required="required" />
    <input type="text" name="description" value="description" required="required" />
    <input type="text" name="contributor" value="contributor" required="required" />
    <select name="isactive">
      <option value="yes">YES</option>
      <option value="no">No</option>
    </select>
    <input type="file" name="imageFile" class="hidden" class="browse-btn" accept="image/png, image/jpeg, image/gif"
      required="required" />
    <input type="submit" value="Upload" class="upload-btn" />
  </form>
  {{!-- <table id="example" class="display" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Brand Name</th>
        <th>Logo</th>
        <th class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td class="text-center"></td>
        <td>{{this.brandname}}</td>
        <td class="prod-td">
          <div class="text-center">
            {{#if this.brandurl}}
            <img alt="{{this.brandname}}" src="{{{this.brandurl}}}" /> {{else}}
            <img alt="{{this.brandname}}" src="/img/noimage.jpg" width="82" /> {{/if}}
          </div>
        </td>
        <td class="text-center">
          <form enctype="multipart/form-data" method="POST" action="/uploadbrandlogo">
            <input type="text" name="fileName" required="required" />
            <input type="button" value="Browse" class="browse-btn" /> --}}
            {{!--
                        <input type="hidden" value="{{this.brandid}}" name="brandId" required="required" /> --}}
           {{!--  <input type="hidden" value="{{this.brandname}}" name="brandname" required="required" />

            <input type="file" name="brandImage" class="hidden" class="browse-btn"
              accept="image/png, image/jpeg, image/gif" required="required" />
            <input type="submit" value="Upload" class="upload-btn" />
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table> --}}
</div>
<script>
  $(document).ready(function () {
    $(".navbar-nav li").removeClass('active');
    $(".navbar-nav li:eq(2)").addClass('active');
    $(".navbar-nav li:eq(2) a").css("background-color", "#0073cc");
    table = $('#example').DataTable({
      "columnDefs": [{
        "searchable": false,
        "orderable": false,
        "targets": 0
      }],
      "order": [[1, 'asc']],
      "scrollX": true,
      "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      "paging": true
    });

    table.on('order.dt search.dt', function () {
      table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        cell.innerHTML = i + 1;
      });
    }).draw();
    $('#example tbody').on('click', '.browse-btn', function () {
      $(this).closest("td").find("input[type=file]").click();
    });
    $('#example tbody').on('change', 'input:file', function () {
      var input = this;
      if (input.files && input.files[0]) {
        var type = input.files[0].type; // image/jpg, image/png, image/jpeg...

        // allow jpg, png, jpeg, bmp, gif, ico
        var type_reg = /^image\/(jpg|png|jpeg|bmp|gif|ico)$/;

        if (type_reg.test(type)) {
          // file is ready to upload
          if (this.files[0].size > 5242880) {
            alert("Maximum 5Mb image is allowed!");
            this.value = "";
          }
          else {
            var fileName = $(this).val().split(/(\\|\/)/g).pop();
            $(this).closest("td").find("input[type=text]").val(fileName);
          }
        } else {
          alert('Please upload valid image for products');
        }
      }
    });
  });
</script>